#popup{
    width: 25%;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 20px;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}

#save{
    background-color:blue;
    padding: 5px 30px;
    font-size: 20px;
    color: white;
    margin-left: 150px;
}
#cancel{
    background-color:blue;
    padding: 5px 30px;
    font-size: 20px;
    color: white;
    margin-top: 20%;
    margin-left: 20px;
}
